// Colours
$blue: rgba(123, 223, 242, 1);
$pink: rgba(242, 181, 212, 1);
$off-white: rgba(239, 247, 246, 1);
$grey: rgba(122, 139, 153, 1);
$navy: rgba(11, 79, 108, 1);
$dark-navy: rgb(10, 62, 85);


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;