// Colours
$eerie-black: rgba(34, 31, 31, 1);
$pink: rgba(242, 181, 212, 1);
$carolina-blue: rgba(32, 159, 218, 1);
$cerulean-frost: rgba(109, 157, 197, 1);
$middle-blue-green: rgba(128, 222, 217, 1);
$blizzard-blue: rgba(174, 236, 239, 1);


// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;